BinaryTree/build/
BinaryTree/bin/
Graph/build/
Graph/bin/
HashTable/build/
HashTable/bin/
Heap/build/
Heap/bin/
MST/build/
MST/bin/
SegmentTree/build/
SegmentTree/bin/
ShortestPath/build/
ShortestPath/bin/
Sort/build/
Sort/bin/
Trie/build/
Trie/bin/
UnionFind/build/
UnionFind/bin/